
body
{
background-image: linear-gradient(rgb(163, 83, 18),rgb(245, 196, 156));
overflow-x: hidden;
}
a
{
    text-decoration: none;
    color: rgb(28, 27, 27);
}
h1 , h5
{
    text-align: center;
    padding-top: 5%;
    
}
hr
{
   border-width: 5px;
   
}
.input{
width:100%;
height:30px;
border: none;
border-radius: 20px;
margin: 3% 0 5% 0;
}
.ldetails>.label
{
    color: rgb(94, 8, 82);
   margin-bottom: 10%;
}
.login
{
    margin: auto;
    margin-top:5%;
    margin-bottom: 5%;
    width:50%;
    /*height:30%;*/
    background-color: rgb(220, 186, 161);
    padding-bottom: 30px;
}
.ldetails
{
margin:10%
}
.fp
{
    float: right;
    margin: 0;
}
.btn
{
    
  margin-top: 5%;
  width: 100%;
  height:30px ;
  border: none;
  border-radius: 20px;  
  background-color: whitesmoke;
  margin-left: 0;
}
p{
    text-align: center;
}
/*
.icon
{
    height: 4%;
    margin-right: 2%;
}
.icons
{
    text-align: center;
}*/